<!DOCTYPE html>
<html lang="en">
    <script>

        // Data
        header = [0, 1, 2, 3, 4, 5, 6, 7];
        board = [[0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0],
                 [0, 0, 0, 0, 0, 0, 0, 0]];
        var winner = 0;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function setHeaderAvailability() {
            var col;
            var row;
            for (col = 0; col < 8; col ++) {
                var canPlaceInCol = false;
                for (row = 7; row >= 0; row --) {
                    if (board[row][col] == 0) {
                        canPlaceInCol = true;
                        break;
                    }
                }
                if (!canPlaceInCol) {
                    header[col] = -1;
                }
            }
            console.log(header);
        }

        /*
         * Sets the header row above the board.
         */
        function setHeader(winner) {
            var text = "";
            var col;
            text += '<div class="row">';
            text += '<div class="col-xs-1"></div>';
            text += '<div class="col-xs-1">';
            text += '<input type="button" class="btn btn-primary btn-md" value="Reset" onclick="reset();"/>';
            text += '</div>';
            for (col = 0; col < 8; col ++) {
                text += '<div class="col-xs-1">';
                if (winner != 0) {
                    if (winner == 1) {
                        text += 'YOU LOSE';
                    } else {
                        text += 'YOU WIN';
                    }
                } else {
                    if (header[col] != -1) {
                        text += '<input type="button" class="btn btn-info btn-header" value=' + col + ' onclick="playHuman(' + col + ');"/>';
                    }
                }
                text += '</div>';
            }
            text += '<div class=col-xs-2"></div>';
            text += '</div>';
            document.getElementById("the_header").innerHTML = text;
        }

        /*
         * Resets the board and header.
         */
        function reset() {
            header = [0, 1, 2, 3, 4, 5, 6, 7];
            board = [[0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0],
                     [0, 0, 0, 0, 0, 0, 0, 0]];
             setBoard();
             setHeader(0);
        }

        /*
         * Sets the board.
         */
        function setBoard() {
            var text = '<div class="container">';
            var row;
            var col;
            for (row = 0; row < 8; row ++) {
                text += '<div class="row">';
                text += '<div class="col-xs-2"></div>';
                for (col = 0; col < 8; col ++) {
                    var color = "gray";
                    if (board[row][col] == 1) {
                        color = "red";
                    }
                    if (board[row][col] == -1) {
                        color = "yellow";
                    }
                    text += '<div class="col-xs-1">';
                    text += '<span class="dot" style="background-color:' + color + ';"></span>';
                    text += '</div>';
                }
                text += '<div class="col-xs-2"></div>';
                text += '</div>';
            }
            text += '</div>';
            document.getElementById("the_board").innerHTML = text;
        }

        /*
         * Plays the board for the human followed by AI move if human does not win.
         */
        async function playHuman(col) {

            /*
             * Gets a list of all rows that the tile will reach when dropped.
             * @param col the column to place the tile.
             * @return a list of all rows the tile will reach
             */
            function placeTile(col) {
                var rows = [];
                var row;
                for (row = 0; row < 8; row ++) {
                    rows.push(row);
                    if ((row == 7) || (board[row+1][col] != 0)) {
                        break;
                    }
                }
                return rows;
            }

            $(':button').prop('disabled', true);       // Disables all buttons until moves are placed.

            var sleep_time = 150;                      // Sleep time to place tiles

            var rows = placeTile(col);                 // Human play
            var i;
            for (i = 0; i < rows.length; i ++) {
                board[rows[i]][col] = -1;
                setBoard();
                if (i == rows.length - 1) {
                    break;
                }
                await sleep(sleep_time);
                board[rows[i]][col] = 0;
            }
            w = terminalTest();                        // Test if human won
            if (w != 0) {
                // Human Won
                setHeader(-1);
            } else {
                var ai_col = getAIMove();              // Get AI move
                rows = placeTile(ai_col);              // AI play
                var j;
                for (j = 0; j < rows.length; j ++) {
                    board[rows[j]][ai_col] = 1;
                    setBoard();
                    if (j == rows.length - 1) {
                        break;
                    }
                    await sleep(sleep_time);
                    board[rows[j]][ai_col] = 0;
                }
                w = terminalTest();        // Test if AI won
                if (w != 0) {
                    // AI Won
                    setHeader(1);
                } else {
                    setHeaderAvailability();
                    setHeader(0);
                }
            }
        }

        function getAIMove() {
            function minimax(depth, max_depth, alpha, beta) {
                var t = terminalTest();
                if ((depth == max_depth) || (t != 0)) return [t];
                var moves = getSuccessors();
                var i;
                var v = [0, 0];
                if (depth % 2 == 0) {
                    v[0] = -1000;
                    for (i = 0; i < moves.length; i ++) {
                        var row = moves[i][0];
                        var col = moves[i][1];
                        board[row][col] = 1;
                        var res = minimax(depth + 1, max_depth, alpha, beta);
                        board[row][col] = 0;
                        if (res[0] > v[0]) {
                            v[0] = res[0];
                            v[1] = col;
                        }
                        if (v[0] > alpha) alpha = v[0];
                        if (beta <= alpha) return v;
                    }
                    return v;
                } else {
                    v[0] = 1000;
                    for (i = 0; i < moves.length; i ++) {
                        var row = moves[i][0];
                        var col = moves[i][1];
                        board[row][col] = -1;
                        var res = minimax(depth + 1, max_depth, alpha, beta);
                        board[row][col] = 0;
                        if (res[0] < v[0]) {
                            v[0] = res[0];
                            v[1] = col;
                        }
                        if (v[0] < beta) beta = v[0];
                        if (beta <= alpha) return v;
                    }
                    return v;
                }
            }

            function getSuccessors() {
                var successors = [];
                var order = [3, 4, 2, 5, 1, 6, 0, 7]
                var row;
                var col;
                for (i = 0; i < 8; i ++) {
                    col = order[i];
                    for (row = 7; row >= 0; row --) {
                        if (board[row][col] == 0) {
                            successors.push([row, col]);
                            break;
                        }
                    }
                }
                return successors;
            }
            var max_depth = 8;
            var move = minimax(0, max_depth, -1000, 1000);
            return move[1];
        }

        function terminalTest() {

            // Variables
            var row;
            var col;

            // Horizontal Test
            for (row = 0; row < 8; row ++) {
                for (col = 0; col < 5; col ++) {
                    if ((board[row][col] != 0) &&
                        (board[row][col] == board[row][col+1]) &&
                        (board[row][col+1] == board[row][col+2]) &&
                        (board[row][col+2] == board[row][col+3])) {
                            return board[row][col];
                    }
                }
            }

            // Vertical Test
            for (col = 0; col < 8; col ++) {
                for (row = 0; row < 5; row ++) {
                    if ((board[row][col] != 0) &&
                        (board[row][col] == board[row+1][col]) &&
                        (board[row+1][col] == board[row+2][col]) &&
                        (board[row+2][col] == board[row+3][col])) {
                            return board[row][col];
                    }
                }
            }

            // Right-to-Left Diagonal Test
            for (row = 0; row < 5; row ++) {
                for(col = 0; col < 5; col ++) {
                    if ((board[row][col] != 0) &&
                        (board[row][col] == board[row+1][col+1]) &&
                        (board[row+1][col+1] == board[row+2][col+2]) &&
                        (board[row+2][col+2] == board[row+3][col+3])) {
                            return board[row][col];
                    }
                }
            }

            // Left-to-Right Diagonal Test
            for (row = 0; row < 5; row ++) {
                for(col = 3; col < 8; col ++) {
                    if ((board[row][col] != 0) &&
                        (board[row][col] == board[row+1][col-1]) &&
                        (board[row+1][col-1] == board[row+2][col-2]) &&
                        (board[row+2][col-2] == board[row+3][col-3])) {
                            return board[row][col];
                    }
                }
            }

            return 0;
        }

    </script>
    <head>
        <meta charset="UTF-8">
        <title>Connect 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .btn-header {
                width: 100%;
                height: 100%;
                //padding: 6px 0px;
                //border-radius: 50%;
                text-align: center;
                font-size: 12px;
                line-height: 1.42857;
            }
        </style>
        <style>
            .dot {
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                overflow: hidden;
                border: 1px solid black;
                position: relative;
                width: 100%;
                height: auto;
                padding-top: 100%;
                background: white;
            }
          </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">JLGames</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>
        <p id="the_header"></p>
        <script>setHeader(0);</script>
        <p id="the_board"></p>
        <script>setBoard();</script>
    </body>
</html>